:root {
    --primary-color: #4ADF86;
}

* {
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    background-color: #1C1C1C;
    color: white;
}

.container {
    width: 550px;
    height: 550px;
    background-color: #1F2937;
    margin: 60px auto;
    padding: 50px;
}

h1 {
    font-family: 'Karla', sans-serif;
    font-size: 40px;
    font-weight: 800;
    margin: 0;
}

p {
    font-size: 20px;
    font-weight: 400;
    color: #D5D4D8;
}

.button {
    color: white;
    background-color: #10B981;
    padding: 10px 15px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border: 1px solid #10B981;
    border-radius: 6px;
    margin-top: 50px;
    margin-bottom: 30px;
    font-weight: 500;
    font-size: 16px;
    display: block;
    }

.button:active {
    border: 1px solid #10B981;
    color: #10B981;
    background-color: white;
}

.colored {
    color: var(--primary-color);
}

hr {
    border: 1px solid #2F3E53;
}

.passwords {
    display: flex;
}


#psw-1, #psw-2 {
    width: 210px;
    height: 40px;
    background-color: #273549;
    border-radius: 6px;
    margin-top: 20px;
    padding-top: 5px;
    color: var(--primary-color);
    font-weight: 500;
    font-size: 16px;
    line-height: 32px;
    text-align: center;
    
}

.passwords p:first-child {
    margin-right: 30px;
}


.click {
    margin-top: 5px;
    font-size: 14px;
    font-style: italic;
    display: none;
}

label {
    font-size: 14px;
    font-style: italic;
    margin-right: 15px;

}

fieldset {
    border: none;
    margin: 0;
    padding: 10px 0;
}




